@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


*{
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "width" 100;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(215, 192, 151);
    color:rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(231, 222, 175);
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 5px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
}

h1{
    font-size: 2rem;
    text-align: center;
}

.para{
    padding-left: 20.5px;
}

.user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
}

.user-input-container{
    display: flex;
    gap: 0px;
    justify-content: space-evenly;
}

#user-input{
    width: 80%;
    padding: 0.4rem;
    border-radius: 20px;
    border: 1px solid gray;
}

#search-btn{
    padding: 0.4rem;
    border-radius: 500px;
    background-color: rgb(247, 210, 109);
    border: 0.13rem solid rgb(0, 0, 0);
}

#search-btn:hover{
    cursor: pointer;
    background-color: rgb(255, 199, 46);
}
#search-btn:active{
    transform: scale(0.98);
}    

.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #007E6E;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1 rem;
    color: white;
    font-weight: 700;
    background: conic-gradient(#007E6E var(--progress-degree, 0%), #73AF6F 0%);
    flex-direction: column;
}
.circle span{
    position: relative;
    z-index: 2;
}

.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 1.1rem;
}

.stats-cards{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

h4{
    font-size: 1rem;
}

.card{
    background-color: rgb(230, 146, 44);
    width: 40%;
    max-width: 290px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    min-height: 4rem;
}